<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
  <add name="localhost_technitar_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=technitar;persist security info=true;CharSet=utf8;" />
  <add name="localhost_technitar_Connection_All_Data" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=technitar;persist security info=true;CharSet=utf8;" />
  <add name="localhost_technitar_Connection_Rapports" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=technitar;persist security info=true;CharSet=utf8;" />
  <add name="localhost_technitar_Connection_certif2" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=technitar;persist security info=true;CharSet=utf8;" />
  <add name="localhost_technitar_Connection_Certf2_All_Data" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=technitar;persist security info=true;CharSet=utf8;" />
  <add name="localhost_technitar_Connection_Prsonnels" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=technitar;persist security info=true;CharSet=utf8;" />
  <add name="localhost_technitar_Connection 1" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=technitar;persist security info=true;CharSet=utf8;" />
  <add name="localhost_technitar_Connection_C2" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=technitar;persist security info=true;CharSet=utf8;" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>